:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  height: 50px;
  background-color: darkgreen;
  display: flex;
  color: whitesmoke;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  border: 1px solid red;
  position: fixed;
  z-index: 2;
}

.header-spacer {
  height: 50px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0;
}

header ul li {
  list-style: none;
  display: flex;
  border: 1px dashed yellow;
  margin: 20px;
  color: whitesmoke;
}

.task {
  border: 1px solid blue;
  width: 80%;
  margin: 10px auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: darkgreen;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: whitesmoke;
}
